.signinbox {
    text-align: center;
    padding: 70px 0;
    font-size: 20px;
    border: 1px solid #739955;
    width: 300px;
    height: 150px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    font-family: monospace;
}

.nextbut {
    font-size: 15px;
    text-decoration: none;
    background: none;
    border: none;
    color: #08096c;
}

.nextbut:hover {
    font-size: 17px;
    color: #890000;
}

#Name {
    border: none;
    border-bottom: 1px solid#739955;
}

.question {
    display: grid;
    place-items: center;
}

.image {
    height: 50vh;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Hello {
    margin-top: 1rem;
}

.Hello span {
    font-size: 40px;
    font-weight: bold;
}

.playsubmit {
    display: grid;
    place-items: center;
}

.choicebox {
    margin-bottom: 3rem;
}

.choice {
    list-style: none;
}

.selectbox {
    display: grid;
    justify-content: center;
    justify-items: stretch;
}

.selectbox a{
    background-color: #739955;
    color: white;
    border-radius: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0.50rem;
    font-size: 5vh;
    text-decoration: none;
    text-align: center;
}

.navbar {
    list-style: none;
    background-color: #739955;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}
li a:hover{
    background-color: #FFBD59;
}

.navbar li{
    float: left;
}

.namecontainer {
    display: grid;
    place-items: center;
    margin-top: 2rem;
}


