.signinbox {
    text-align: center;
    padding: 70px 0;
    font-size: 20px;
    border: 1px solid #739955;
    width: 300px;
    height: 150px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    font-family: monospace;
}

.nextbut {
    font-size: 15px;
    text-decoration: none;
    background: none;
    border: none;
    color: #08096c;
}

.nextbut:hover {
    font-size: 17px;
    color: #890000;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #739955;
    font-size: 17px;
}

.question {
    text-align: center;
}

ul {
    list-style: none;
}

.image {
    height: 50vh;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Hello span {
    font-size: 40px;
    font-weight: bold;
}

.choice {
    display: flex;
    justify-content: center;
    height: 10%;
}


