.signinbox {
    text-align: center;
    padding: 70px 0;
    font-size: 20px;
    border: 1px solid #739955;
    width: 300px;
    height: 150px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    font-family: monospace;
}

.nextbut {
    font-size: 15px;
    text-decoration: none;
    background: none;
    border: none;
    color: #08096c;
}

.nextbut:hover {
    font-size: 17px;
    color: #890000;
}

#Name {
    border: none;
    border-bottom: 1px solid#739955;
}

.question {
    display: grid;
    place-items: center;
}

ul {
    list-style: none;
}

.image {
    height: 50vh;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Hello {
    margin-top: 1rem;
}

.Hello span {
    font-size: 40px;
    font-weight: bold;
}

#getname{
    background-color: #739955;  
    color: white;
    padding: 0.50rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

.playsubmit {
    display: grid;
    place-items: center;
}

.choice {
    margin-bottom: 3rem;
}


